@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/*
   font-family: 'IBM Plex Sans', sans-serif;
*/

:root {
    --gray_1: #DEE2E6;
    --gray_2: #CED4DA;
    --gray_3: #ADB5BD;
    --gray_4: #7C8B99;
    --gray_5: #343A40;
    --gray_6: #212529;

    --blue_1: #4C6EF5;
    --blue_2: #2540aa;

    --title_1: 1.5rem;
    --title_2: 1.25rem;

    --text_1: 1rem;

    --radius: 8px; 
}

body {
    display: flex;

    justify-content: center;

    width: 100vw;

    background-color: var(--gray_6);

    font-family: 'IBM Plex Sans', sans-serif;

    overflow-x: hidden;
}